.homePageWrapper {
    padding-top: 40px;
}.createWrapper {
    width: 200px;
    margin-right: 0px;
    margin-left: auto;
}.contentWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}.pagination {
    max-width: 200px;
    display: flex;
    margin: auto;
} 
.pagination .textPage {
    font-size: 30px;
    width: 300px;
    text-align: center;
    /* font-weight: bold; */
    margin: 0;
}

